<!-- Web Fonts  -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Alegreya|Alegreya+SC|Oswald:400,300" rel="stylesheet" type="text/css">

<!--[if IE]>
  <link rel="stylesheet" href="css/ie.css">
<![endif]-->

<!--[if lte IE 8]>
  <script src="vendor/respond/respond.js"></script>
  <script src="vendor/excanvas/excanvas.js"></script>
<![endif]-->
</head>
<body>

<div class="body">
  <header id="header">

    <div class="container">
      <h1 class="logo">
        <a href="http://www.bambu-mobile.com">
          <%= image_tag src="welcome/logo.png", :alt=>"Bambú Mobile", :width=>"148", :height=>"44", :"data-sticky-width"=>"134", :"data-sticky-height"=>"40"%>
        </a>
      </h1>
      <button class="btn btn-responsive-nav btn-inverse" data-toggle="collapse" data-target=".nav-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
    </div>
    <div class="navbar-collapse nav-main-collapse collapse">
        <nav class="nav-main mega-menu">
          <ul class="nav nav-pills nav-main" id="mainMenu">
            <li>
              <%= link_to "Inicio", {controller: "welcome", action: "index"}%>
            </li>
            <li>
              <%= link_to "Que hacemos", {controller: "welcome", action: "servicios"}%>
            </li>
            <li>
              <%= link_to "Nosotros", {controller: "welcome", action: "nosotros"}%>
            </li>
            <li>
              <%= link_to "Equipo", {controller: "welcome", action: "equipo"}%>
            </li>
            <li>
              <%= link_to "Blog", {controller: "blog", action: "index"}%>
            </li>
            <li>
              <%= link_to "Contacto", {controller: "welcome", action: "contacto"}%>
            </li>

          </ul>
        </nav>
      </div>
    </div>
  </header>
