<%= render "welcome/header"%>
			<div role="main" class="main">

				<div class="container">

					<div class="portfolio-title">
						<div class="row">
							<div class="portfolio-nav-all col-md-1">
								<a href="http://www.bambu-mobile.com/nosotros" rel="tooltip" data-original-title="Regresa a la lista"><i class="fa fa-th"></i></a>
							</div>
							<div class="col-md-10 center">
								<h2 class="shorter"><strong><%= @premio.nombre%></strong></h2>
								<p class="short">Proyecto <strong><%= @premio.proyecto%></strong></p>
							</div>
							<div class="portfolio-nav col-md-1">
								<% if (@premio.id.to_i - 1) == 0%>
									<a href="/premios/3" class="portfolio-nav-prev" rel="tooltip" data-original-title="Anterior"><i class="fa fa-chevron-left"></i></a>
								<% else %>
									<a href="/premios/<%=@premio.id.to_i - 1%>" class="portfolio-nav-prev" rel="tooltip" data-original-title="Previous"><i class="fa fa-chevron-left"></i></a>
								<% end %>
								<% if (@premio.id.to_i + 1) == 4%>
									<a href="/1" class="portfolio-nav-next" rel="tooltip" data-original-title="Siguiente"><i class="fa fa-chevron-right"></i></a>
								<% else %>
									<a href="<%=@premio.id.to_i + 1%>" class="portfolio-nav-next" rel="tooltip" data-original-title="Next"><i class="fa fa-chevron-right"></i></a>
								<% end %>
							</div>
						</div>
					</div>

					<hr class="tall">

					<div class="row">
						<div class="col-md-4">

							<div class="owl-carousel" data-plugin-options='{"items": 1, "autoHeight": true}'>
								<div>
									<div class="thumbnail">
										<%= image_tag "welcome/logros/#{@premio.id}.jpg", :class=>"img-responsive"%>
									</div>
								</div>
							</div>

						</div>

						<div class="col-md-8">

							<div class="portfolio-info">
								<div class="row">
									<div class="col-md-12 center">
										<ul>
											<li>
												<i class="fa fa-calendar"></i> <%=@premio.fecha%>
											</li>
										</ul>
									</div>
								</div>
							</div>

							<h4>Descripcion del <strong>Evento</strong></h4>
							<p class="taller"><%= @premio.descripcion%></p>

							<a href="<%= @premio.enlace%>" class="btn btn-primary btn-icon"><i class="fa fa-external-link"></i>Conoce el evento</a> <span class="arrow hlb" data-appear-animation="rotateInUpLeft" data-appear-animation-delay="800"></span>

							<ul class="portfolio-details">
								<li>
									<p><strong>Habilidades:</strong></p>

									<ul class="list list-skills icons list-unstyled list-inline">
										<li><i class="fa fa-check-circle"></i> Diseño</li>
										<li><i class="fa fa-check-circle"></i> HTML/CSS</li>
										<li><i class="fa fa-check-circle"></i> Javascript</li>
										<li><i class="fa fa-check-circle"></i> Backend</li>
									</ul>
								</li>
								<li>
									<p><strong>Evento:</strong></p>
									<p><%= @premio.evento%></p>
								</li>
							</ul>

						</div>
					</div>

					<hr class="tall" />

				</div>

			</div>

			<%= render "welcome/nuevo"%>

<%= render "welcome/footer"%>
		</div>
<%= render "welcome/scripts"%>