<%= render "welcome/header" %>
			<div role="main" class="main">

				<section class="page-top">
					<div class="slider-container">
						<div class="slider" id="revolutionSlider" data-plugin-revolution-slider data-plugin-options='{"startheight": 200}'>
							<ul>
								<li data-transition="fade" data-slotamount="13" data-masterspeed="300" >
									<%= image_tag src="welcome/header-default-bg.jpg", :"data-bgposition"=>"left top", :"data-bgfit"=>"cover", :"data-bgrepeat"=>"no-repeat" %>
								</li>
							</ul>
						</div>
					</div>
					<div class="page-top-info container">
						<div class="row">
							<div class="col-md-12">
								<ul class="breadcrumb">
									<li><a href="index.html">Inicio</a></li>
									<li class="active">Servicio</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<h2>Nuestros servicios</h2>
							</div>
						</div>
					</div>
				</section>

				<div class="container">

					<h2>Estos son nuestros <strong>Servicios</strong></h2>

					<div class="row">
						<div class="col-md-10">
							<p class="lead">
								Desarrollamos proyectos en la industria de las Tecnologías de la Información y Comunicación, nos enfocamos en generar proyectos calidad, que logren dar solución en la sociedad, en las Empresas o en cualquier tipo de organización. Así mismo en Bambú Mobile  concebimos a la tecnología como una herramienta con mira al futuro, con responsabilidad, conciencia, visión e impacto. Logrando generar proyectos vanguardistas que contribuyen como base a múltiples acciones en pro del desarrollo de la sociedad.
							</p>
						</div>
						<div class="col-md-2">
							<%= link_to "Contactanos!", {controller: "welcome", action: "contacto"}, :class => "btn btn-lg btn-primary push-top pull-right"%>
						</div>
					</div>

					<hr class="tall" />

					<%= render "welcome/sectores" %>

					<hr class="tall" />

					<div class="row">
						<div class="col-md-7">
							<h2>Premium <strong>Features</strong></h2>
							<p class="lead">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur imperdiet hendrerit volutpat. Sed in nunc nec ligula consectetur mollis in vel justo. Vestibulum ante ipsum primis in faucibus orci.
							</p>
							<p class="tall">
								 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur imperdiet hendrerit volutpat. Sed in nunc nec ligula consectetur mollis in vel justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent scelerisque volutpat turpis, eu hendrerit enim scel.
							</p>
						</div>
						<div class="col-md-4 col-md-offset-1 push-top">
							<img class="img-responsive push-top" src="img/device.png">
						</div>
					</div>

				</div>

			</div>

<%= render "welcome/footer" %>
		</div>
<%= render "welcome/scripts" %>
