<%= render "posts/header" %>
</header>
    <section class="content-padding">
      <div class="row">
        <div class="large-12 medium-12 small-12 columns text-center">
          <div class="head align-center">
            <h3 class="margin0 fontsans">Edita la entrada</h3>
          </div>
        </div>
      </div>

<%= render 'form' %>

  </section>
<%= render "blog/footer" %>
<%= render "blog/scripts" %>
<%= link_to 'Show', @post %>
<%= link_to 'Back', posts_path %>
