<%= render "posts/header" %>
</header>
    <section class="content-padding">
      <div class="row">
        <div class="large-12 medium-12 small-12 columns text-center">
          <div class="head align-center">
            <h2 class="margin0">Estos son tus datos registrados</h2>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="large-3 columns">
          <a class="th" href="../assets/img/examples/space.jpg">
            <%= image_tag current_user.photo%>
          </a>
        </div>
        <div class="large-9 columns right">
          <div class="large-6 medium-12 small-12 columns">
            <p class="large-3 medium-12 small-8 columns">
              Nombre:
            </p>
            <p>
              <%= current_user.name%>
            </p>
          </div>
          <div class="large-9 medium-12 small-12 columns">
            <p class="large-2 medium-12 small-8 columns">
              Correo:
            </p>
            <p>
              <%= current_user.email%>
            </p>
          </div>
          <div class="large-9 medium-12 small-12 columns">
            <p class="large-3 medium-12 small-8 columns">
              Twitter:
            </p>
            <p>
              <%= current_user.twitter_url%>
            </p>
          </div>
          <div class="large-9 medium-12 small-12 columns">
            <p class="large-3 medium-12 small-8 columns">
              Facebook:
            </p>
            <p>
              <%= current_user.face_url%>
            </p>
          </div>
          <div class="large-9 medium-12 small-12 columns">
            <p class="large-3 medium-12 small-8 columns">
              Tu historia:
            </p>
            <p>
              <%= current_user.face_url%>
            </p>
          </div>
        </div>

    </section>

      <%= render "blog/footer" %>
      <%= render "blog/scripts" %>
