<div class="carrusel" >
  <%  @actual = ["sociedad", "paradigmas", "desarrollo", "comportamiento"]

      @categorias.zip(@actual).each do |categoria, actual| %>
    <!-- header -->
    <div id="header" class="<%=actual%>">
      <nav class="wow fadeInDown">
        <div class="row">
          <div class="large-3 medium-12 small-12 columns">
            <%= link_to image_tag("logoBlanco.png"), {controller: "blog", action: "index"}, class: "logo"%>
          </div>
          <div class="large-9 medium-12 small-12 columns">
            <span id="showmobilemenu" class="hide-for-large-up">Categorias</span>
            <ul id="mainnav">
              <% @categorias.each do |enlace| %>
                <li><%= link_to enlace.name, controller: "blog", action: "category", id: enlace %></li>
              <%end%>
            </ul>
          </div>
        </div>
      </nav>
        <div class="header-content">
          <h1 class="wow fadeInDown"><%= categoria.name %></h1>
          <h6 class="big fontsans"><%= categoria.description %></h6>
        </div>
    </div>
  <%end%>
</div>
    <!-- END header -->

    <section class="content-padding recipes">
      <div class="row">
        <div class="large-12 medium-12 small-12 columns text-center">

          <div class="head align-center">
            <h2 class="margin0">Nuevas Publicaciones</h2>
            <div class="filters text-center">
              <a data-target='item'>Todas</a>
              <% @categorias.each do |enlace| %>
              <a data-target='category-<%=enlace.id%>'><%=enlace.name%></a>
              <% end %>
            </div>
            <h6 class="fontsans big"><strong>Entradas recientes del blog</strong></h6>
          </div>
        </div>
      </div>
      <!-- recipe list -->
      <div class="wow bounceInUp" data-wow-offset="250">
        <div class="row" id="recipes" data-equalizer>
          <% @blogs.each do |publicacion| %>
          <div class="item large-3 medium-6 small-12 columns category-<%= publicacion.category_id%>" data-equalizer-watch>
            <div class="recipe text-center">
              <div class="recipe-cover">
                <%if (publicacion.user_photo.to_s == '')%>
                  <%= link_to image_tag("blog/avatar.jpg"), {controller: "blog", action: "profile", id: publicacion.user_id}, :class=>"profile" %>
                <%else%>
                  <%= link_to image_tag(publicacion.user_photo), {controller: "blog", action: "profile", id: publicacion.user_id}, :class=>"profile" %>
                <%end%>
                <% @votos = ""
                  if (publicacion.count? || publicacion.count != 0)
                    @votos = publicacion.count.to_s
                  end %>
                <%= link_to raw('<i class="fa fa-heart-o"></i>' + @votos), {controller: "blog", action: "count", id: publicacion.id}, :class=>"like" %>
                <%= link_to publicacion.category.name, {controller: "blog", action: "show", id: publicacion}, class: "type"%>
                <%= link_to "", {controller: "blog", action: "show", id: publicacion}, class: "recipe-link"%>
                <%if publicacion.image.to_s == ''%>
                  <%= image_tag "blog/categorias/#{Category.photo(publicacion.category_id)}", :alt => "", :class => "pub_photo"%>
                <%else%>
                  <%= image_tag publicacion.image, :alt => "", :class => "pub_photo"%>
                <%end%>
              </div>
              <h6 class="fontsans margin0"><%= link_to publicacion.name, controller: "blog", action: "show", id: publicacion %></h6>
            </div>
          </div>
        <%end%>
        </div>
      </div>
      <div class="row collapse">
        <div class="large-12 mecoim-12 small-12 columns text-center">
          <div class="all">
            <%= link_to "Más entradas",{} , :class => "button dark", :id => "masEntradas", :remote => "true" %>
          </div>
        </div>
      </div>
      <!-- END recipe list -->
    </section>
    <%= render "blog/footer" %>
    <%= render "blog/scripts" %>

    <script>
      $(document).ready(function(){
        $('.carrusel').slick({
          arrows: false,
          infinite: true,
          slidesToShow: 1,
          slidesToScroll: 1,
          autoplay: true,
          autoplaySpeed: 4000,
          // responsive: [
          //   breakpoint: 480,
          //   settings: "unslick"
          // ]
        });
      });
    </script>
