<%= render "blog/categoryHeader" %>
    </header> 
    <!-- END header -->
    <section class="content-padding">
      <div class="row">
        <div class="large-12 medium-12 small-12 columns text-center">
          <div class="head align-center">
            <h2 class="margin0">Hola! Me llamo <%=@blogger.name%></h2>
          </div>
        </div>
      </div>
      <section class="fullwidth">
        <div class="row collapse" data-equalizer>
          <div class="large-6 medium-12 small-12 columns">
            <div class="myphoto wow bounceInLeft" style="background:url(<%=image_url @blogger.photo%>) no-repeat center center;" data-equalizer-watch data-wow-offset="350">
              <a href=""></a>
            </div>
          </div>

          <div class="large-6 medium-12 small-12 columns">
            <div class="aboutme" data-equalizer-watch>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
              <p>Adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
          </div>
        </div>
      </section>
    </section>

    <section class="content-padding">
      <div class="row">
        <div class="large-12 medium-12 small-12 columns">
          <div class="head align-center">
            <h2 class="margin0">Esto es en lo que creemos</h2>
          </div>          
          <section id="cd-timeline" class="cd-container">
            <%@blogs.each do |publicacion|%>
              <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                  <i class="fa fa-picture-o"></i>
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                  <h4 class="fontsans"><%=publicacion[0].name%></h4>
                  <div class="cover"><%=image_tag publicacion[0].photo%></div>
                  <p><%=publicacion.content[0][0, 50]%> <%= link_to "Ver más...", {controller: "blog", action: "show", id: publicacion}, class: "blue read"%></p>
                  <span class="cd-date"><%=publicacion[0].created_at%></span>
                </div> <!-- cd-timeline-content -->
              </div> <!-- cd-timeline-block -->
            <%end%>
          </section> <!-- cd-timeline -->
        </div>
      </div>
      <div class="row collapse">
        <div class="large-12 mecoim-12 small-12 columns text-center">
          <div class="all"><a href="" class="button dark">Load more...</a></div>
        </div>
      </div>
    </section>
  <%= render "blog/footer" %>
  <%= render "blog/scripts" %>
